@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html {
  font-family: "Concert One", sans-serif;
}

body {
  background-color: #000;
}

h1 {
  -webkit-text-stroke: 1px black;
}

.yellow-text {
  color: yellow; 
  text-shadow: 4px 4px 8px black; 
  font-weight: 600;
  font-size: 100px;
}

.card-border {
  border: 5px solid black;
}

:root {
  color-scheme: dark;
}
